<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.coursecatalog.domain.repository.CourseMapper">
    <select id="findAll" parameterType="string" resultMap="course">
        SELECT
            C.id as id,
            C.name as name,
            C.level as level,
            C.active as active,
            C.hours as hours,
            T.id as teacherId,
            T.name as teacherName,
            T.surname as teacherSurname
        FROM COURSE C, TEACHER T
        WHERE C.active = true
        AND C.teacher = T.id
        ORDER BY name ${order}
    </select>
    <insert id="saveCourse" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO COURSE (name, teacher, hours, level, active)
        VALUES (#{name}, #{teacher}, #{hours}, #{level}, #{active})
    </insert>
    <resultMap type="com.example.coursecatalog.domain.model.Course" id="course">
        <id column="id" property="id" javaType="long"/>
        <result column="name" property="name" javaType="string"/>
        <result column="level" property="level" javaType="string"/>
        <result column="hours" property="hours" javaType="string"/>
        <result column="active" property="active" javaType="boolean"/>
        <association property="teacher" javaType="com.example.coursecatalog.domain.model.Teacher">
            <id property="id" column="teacherId"/>
            <result column="teacherName" property="name" />
            <result column="teacherSurname" property="surname" />
        </association>
    </resultMap>
</mapper>